.row > .col-sm-12 {
    padding-left: 0px;
}

.title-tasks{
    margin-button:2.84rem!important;

		  font-size: 4rem;
	    text-align: center;
	    color: #052939;
	   	font-family: 'Niconne', cursive;
	    font-weight: 700;
      text-shadow: 5px 5px 0px #eb452b,
                  10px 10px 0px #efa032,
                  15px 15px 0px #46b59b,
                  20px 20px 0px #017e7f,
                  25px 25px 0px #fcedd8,
                  45px 45px 0px white;
}

#create-tast-btn-cus {
    margin-bottom: 5px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

#table-title{
    margin-bottom:2.84rem!important;
}