.row > .col-sm-12 {
    padding-left: 0px;
}

.title-tasks{
  font-family: "Montserrat";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  background-image: url('tenor.gif');
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 5rem;
  line-height: .75;
  margin: 10px 0;
}


#create-tast-btn-cus {
    margin-bottom: 5px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

#table-title{
    margin-bottom:2.84rem!important;
}