{% extends "Tasks/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
        <img src="{% static 'Tasks\create_task_icon.png' %}" class="float-right ml-2" height="15%" width="15%">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-botton mb-4">Create Your Task {{user.username}} !</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Create!</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Dont Know What To Write? <a class="ml-2" href="#FUNNY_WEBSITE">Get Help Here!</a>
            </small>
        </div>
</div>

<script>
    document.getElementById('id_start_date').type = 'datetime-local';
</script>

{% endblock content %}